@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
.profile-container {
  background-color: whitesmoke;
  width: 80%;
    font-family: "Barlow Condensed", sans-serif; 
    font-size: 1.5em;
  max-width: 800px;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
  margin-top: 7%;
}

.profile-left-section {
  flex: 1;
  padding: 20px;
  background-color: #3d88e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-left-section .profile-data img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-color: rgb(212, 210, 210);
  border: 4px solid black;
  padding: 3px;
}

.profile-right-section {
  flex: 1;
  padding: 20px;
}

.profile-right-section h3 {
  border-bottom: 2px solid black;
}

.profile-data {
  text-align: center;
}

.profile-data span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

h3 {
  margin-top: 0;
}

.email,
.phone {
  margin-bottom: 20px;
}

.email span,
.phone span {
  display: inline-block;
}

.profile-button {
  color: white;
  background-color: #3d88e3;
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.profile-button:hover {
  background-color: #2b5b9a;
  cursor: pointer;
}

@media (max-width: 600px) {
  .profile-container {
    width: 90%;
  }
.profile-left-section{
  margin-bottom: 20px;
}
  .profile-left-section,
  .profile-right-section {
    flex: 0 0 100%; 
    padding: 10px; 
  }

  .profile-left-section .profile-data img {
    width: 80px; 
    height: 80px;
  }

  .profile-button {
    width: 100%; 
  }
}
