.welcome-container {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
  }
  
  .welcome-container h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 30px;
  }
  
  .welcome-image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
  